<template>
    <div>
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>

export default {

}
</script>

<style scoped>
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity .2s ease;
    }

    .fade-leave-active {
        transition: opacity .2s ease;
        opacity: 0;
    }
</style>
