<template>
  <v-container fluid>
    <v-row align="start" justify="start">
      <v-col>
        <v-card v-if="desserts.length">
            <v-card-title>
                Пользователи
            <v-spacer></v-spacer>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="desserts"
                hide-default-footer
                class="elevation-1"
            ></v-data-table>
        </v-card>
        <p v-else>Данных не найдено</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
    data() {
        return {
            headers: [
                {text: 'Имя', value: 'name'},
                {text: 'Email', value: 'email'},
                {text: 'Последнее обновление', value: 'updated_at'}
            ],
            desserts: []
        }
    },
    created() {
        this.getUsers()
    },
    methods: {
        getUsers() {
            axios.get('auth/users')
                .then(res => {
                    this.desserts = res.data.data
                })
                .catch(err => console.log(err))
        }
    }
};
</script>
