<template>
    <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Вход</v-toolbar-title>
                <v-spacer></v-spacer>
                
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Email"
                    type="email"
                    v-model="email"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="show ? 'text' : 'password'"
                    hint="Минимум 6 символов"
                    counter
                    label="Пароль"
                    @click:append="show = !show"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.prevent="showRegister" outlined color="primary">Регистрация</v-btn>
                <v-btn 
                  @click.prevent="login" 
                  color="primary"
                  :disabled="load"
                  :loading="load"
                >Вход</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-snackbar
      v-model="snackbar"
      color="error"
      :right="true"
      :timeout="3000"
      :top="true"
    >Неверный email или пароль</v-snackbar>
  </v-app>
</template>

<script>
  export default {
    data(){
      return {
        load: false,
        snackbar: false,
        email: null,
        password: null,
        error: false,
        show: false,
        rules: {
          required: value => !!value || 'Заполните это поле',
          min: value => (value && value.length >= 6) || 'Минимум 6 символов',
        },
      }
    },
    methods: {
      login(){
        this.load = true
        this.$auth.login({
            params: {
              email: this.email,
              password: this.password
            }, 
            success: (data) => {
              this.load = false
              
            },  
            error: (err) => {
              this.snackbar = true
              this.load = false
              
            },
            rememberMe: true,
            redirect: '/main',
            fetchUser: true,
        });       
      },
      showRegister() {
        this.$router.push({ name: 'Singup'})
      }
    }
  } 
</script>