<template>
        <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Регистрация</v-toolbar-title>
                <v-spacer></v-spacer>
                
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Имя"
                    type="text"
                    v-model="name"
                    :rules="[rules.required]"
                    :error-messages="errors.name"
                  ></v-text-field>
                  <v-text-field
                    label="Email"
                    type="email"
                    v-model="email"
                    :rules="[rules.required]"
                    :error-messages="errors.email"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="show ? 'text' : 'password'"
                    hint="Минимум 6 символов"
                    counter
                    label="Пароль"
                    @click:append="show = !show"
                    :error-messages="errors.password"
                  ></v-text-field>
                  <v-text-field
                    v-model="password_confirmation"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="show1 ? 'text' : 'password'"
                    hint="Минимум 6 символов"
                    counter
                    label="Подтвердите пароль"
                    @click:append="show1 = !show1"
                    :error-messages="errors.password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn 
                    @click.prevent="showLogin" 
                    outlined 
                    color="primary"
                >Вход</v-btn>
                <v-btn 
                    @click.prevent="register" 
                    color="primary"
                    :disabled="load"
                    :loading="load"
                >Зарегистрироваться</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-snackbar
      v-model="snackbar"
      color="error"
      :right="true"
      :timeout="3000"
      :top="true"
    >Ошибка фалидации формы</v-snackbar>
    <v-snackbar
      v-model="snackbar_success"
      color="success"
      :right="true"
      :timeout="3000"
      :top="true"
    >Успешно</v-snackbar>
  </v-app>
</template>

<script>
export default {
    data(){
        return {
            snackbar: false,
            snackbar_success: false,
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
            error: false,
            errors: {},
            success: false,
            show: false,
            show1: false,
            load: false,
            rules: {
                required: value => !!value || 'Заполните это поле',
                min: value => (value && value.length >= 6) || 'Минимум 6 символов',
            },
        };
    },
    methods: {
        register(){
            this.load = true
            this.$auth.register({
                data: {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                }, 
                success: (data) => {
                    if(data.data.status === 'success') {
                        this.snackbar_success = true
                    }
                    this.load = false
                },
                error: (resp) => {
                    this.error = true;
                    this.errors = resp.response.data.errors;
                    this.snackbar = true
                    this.load = false
                },
                redirect: '/'
            });                
        },
        showLogin() {
            this.$router.push({ name: 'Singin'})
        }
    }
}
</script>